body {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif
}

header {
	background-color: #ffffff;
	height: 11rem;
}

header img {
	width: 10%;
	float: left;
	padding: 2rem;
}

h3 {
	text-align: center;
  display: inline;
  padding: 8rem; 
}

ul {
	margin: 0.5rem;
}

header li {
	display: inline-block;
	float: right;
	background-color: #73ffb4;
	border-radius: 20px;
	padding: 0.3rem;
}

.welcome img {
	display: block;
	width: 28%;
	margin: auto;
}

.view img {
	width: 20%;
	display: inline-block;
	margin: auto;
	margin: 2%;
	border: 2px dashed black;
}

a {
	text-decoration: none;
	color: tomato;
}


h5 {
	text-align: center;
	margin-top: 0;
	padding: 1.5rem;
}

.welcome {
	background-color: #ffcd4f;
}

.view {
	background-color: #f57f5b;
}

footer {
	height: 11rem;
}

div {
	border: 1px dotted black;
}

footer ul {
	float: right;
	margin: : 2rem;
	margin-top: 7rem;
}

pre {
	display: inline-block;
	margin: 3rem;
}